# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# python
*.pyc

# Ignore cfy-kubernetes cluster-autoscaler
examples/cluster_blueprint/resources/cfy-kubernetes
examples/cluster_blueprint/resources/cfy-autoscale
examples/cluster_blueprint/resources/cfy-go

# IDE
.idea
