[Unit]
Description=cfy kubernetes

[Service]
ExecStart=/usr/bin/cfy-kubernetes --kubeconfig {{ home_dir }}/.kube/config --cloud-config {{ home_dir }}/cfy.json
KillMode=process
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
